body {
    /*background: url("/static/img/smarthouse.png");*/
    opacity: 0.9;
    background-color: #0a0c0d;
    background-size: cover;
}

h1 {
    color: #0a0c0d;
    text-transform: uppercase;
    padding-left: 30px;
    font-family: "Arial Unicode MS";
    text-shadow: 0 0 10px #7e54e1;

}

h2 {
    color: #7e54e1;
    text-transform: uppercase;
    font-size: 12px;
    text-align: right;
    font-family: trebuchet ms;
}

h3 {
    color: #7e54e1;
    text-transform: uppercase;
    font-size: 10px;
    text-align: left;
    font-family: trebuchet ms;
}

h4 {
    color: #ffffff;
    font-size: 10px;
    text-align: right;
    font-family: trebuchet ms;
}

.form {
    border-radius: 10px;
    padding: 50px;
    background-color: rgba(0, 0, 0, .5) #0d2909;
    box-shadow: 0 0 30px #7e54e1;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.form input {
    box-shadow: 0 0 20px #7e54e1;


}

.form input[type="text"] {
    padding-left: 60px;
    border-radius: 4px;
    width: 335px;
    height: 30px;
}

.form input[type="password"] {
    padding-left: 60px;
    border-radius: 4px;
    width: 335px;
    height: 30px;
}

.form input[type="submit"] {
    border-radius: 4px;
    width: 400px;
    height: 30px;

}
